
new_inputs/ghe data/data_2019.csv
new_inputs/ghe data/data_2010.csv
new_inputs/ghe data/data_2015.csv
KSA/.Rhistory
KSA/.Rhistory
KSA/docs/2017 bulletin_of_household_sports_practice_survey_2017_en (1).xlsx
KSA/docs/2018 household_sport_practice_survey_2018_en (1).xlsx
KSA/docs/2019 english-jdwl_nshr_msh_mmrs_lsr_llryd_2019m (2).xlsx
KSA/docs/KSA Health and Economic Burden of insufficeint physical activity -revised.docx
KSA/docs/KSA PA Ch 2 Draft 30-04-2022 SP.docx
KSA/docs/KSA PA Ch 2 Draft 30-04-2022.docx
KSA/docs/PA-Econ-Burden- Sep6.docx
KSA/docs/Response to reviewers.docx
KSA/docs/vr_locs.pdf
KSA/docs/write-up.docx
KSA/.Rhistory
KSA/.Rhistory
